@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.page {
    background-color: #FFFAEA;
    justify-content: center;
    align-items: center;
}

.button {
    color: #5C65CF !important;
    background: #FFFAEA !important; 
    justify-self: start !important;
    margin-left: 50px !important;
    cursor: pointer !important;
    text-decoration: none !important;
    padding: 0.5rem 1rem !important;
}

.button:hover {
    background-color: #5C65CF !important;
    color: #FFFAEA !important; 
    border-radius: 4px !important;
    transition: all 0.2s ease-out;
}

.button2 {
    color: #FFFAEA !important;
    background: #5C65CF !important; 
    justify-self: start !important;
    cursor: pointer !important;
    text-decoration: none !important;
    padding: 10px !important;
    border: none;
    border-radius: 10px !important;
    width: max-content !important;
    margin-right: 5px;
}

.button2:hover {
    background-color: #FFFAEA !important;
    color: #5C65CF !important; 
    border-radius: 4px !important;
    transition: all 0.2s ease-out;
}

.page > h1 {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Coiny', cursive;
    color: #5C65CF;
    padding: 20px;
}

.jio {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px 20px;
    box-shadow: 0px 0px 5px #bdc1eb;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: rgb(0, 0, 32);
    border-radius: 3px;
    border: 1px solid lightgray;
}

.jio > h2 {
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 30px;
    color: #5C65CF;
}

.set{
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

