@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
 
.page {
    background-color: #FFFAEA;
}

.button {
    color: #5C65CF !important;
    background: #FFFAEA !important; 
    justify-self: start !important;
    margin-left: 40px !important;
    cursor: pointer !important;
    text-decoration: none !important;
    padding: 0.5rem 1rem !important;
}

.w-100 > h2 {
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Coiny', cursive;
    color: #5C65CF;
} 

.w-100 > p {
    margin-bottom: 30px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Coiny', cursive;
    color: #5C65CF;
    font-family: 'Space Mono', monospace;
} 