@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');


.w-100 > h1 {
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    font-size: 40px;
    font-family: 'Coiny', cursive;
    color: #5C65CF;
}

.accordion {
    width: 500px;
}

.item {
    background-color: #bdc1eb;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.title {
    color: #FFFAEA;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    color: #FFFAEA;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content-show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0); 
}