.animation-area {
    background: linear-gradient(90deg, #5C65CF 0%, #bdc1eb 100%);
    width: 100%;
    height: 100vh;
}

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}