@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

.navbar{
    /* background: linear-gradient(90deg, #5C65CF 0%, #bdc1eb 100%); */
    background: #FFFAEA;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Coiny', cursive;
    color: #5C65CF;
    overflow: hidden;
}

.navbar-logo{
    color: #5C65CF !important;
    justify-self: start !important;
    margin-left: 20px !important;
    cursor: pointer !important;
}

.navbar-items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem; 
    font-family: 'Coiny', cursive;
}

.nav-links {
    color: #5C65CF !important;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #5C65CF;
    color: #FFFAEA !important; 
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

/* 374B8C */