@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

.navbar{
    /* background: linear-gradient(90deg, #5C65CF 0%, #bdc1eb 100%); */
    background: #FFFAEA;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Coiny', cursive;
    color: #5C65CF;
}

.navbar-logo{
    color: #5C65CF !important;
    justify-self: start !important;
    margin-left: 20px !important;
    cursor: pointer !important;
}

.navbar-items {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem; 
    font-family: 'Coiny', cursive;
}

.nav-links {
    color: #5C65CF !important;
    text-decoration: none !important;
    padding: 0.5rem 1rem !important;
}

.nav-links:hover {
    background-color: #5C65CF !important;
    color: #FFFAEA !important; 
    border-radius: 4px !important;
    transition: all 0.2s ease-out !important;
}

@media screen and (max-width: 960px) {
    .navbar {
        position: relative;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-items.active {
        background: #374B8C;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover{
        background-color: #374B8C;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #7A99C9;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover{
        background: #fff;
        color: #6568F4;
        transition: 250ms;
    }
}

/* 374B8C */